{% extends "layout.html" %}
{% load static %}   
{% block sact %} active {% endblock %}
{% block body %}

      
      <section class="probootstrap-section probootstrap-section-colored"  style="background-image: url({% static 'img/slider_2.jpg' %}) !important">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-left section-heading probootstrap-animate" style="margin-bottom:40px;"   >
              <h2>Student Guidelines</h2>
            </div>
          </div>
        </div>
      </section>
      <section class="probootstrap-section">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="probootstrap-flex-block">
                <div class="probootstrap-text probootstrap-animate" style="width:100%;font-size:18px;">
                  {{ html|safe }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    {% if count != 0 %}
          <section class="probootstrap-section" style="margin-top:100px;">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="probootstrap-flex-block">
                    <div class="probootstrap-text probootstrap-animate" style="width:100%;font-size:18px;">
                      {%  for item in files %}
                        <a class="btn btn-primary" role="button" href="{{ item.document.url }}" target="_blank">{{ item.file_name }}</a>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
    {% endif %}


{% endblock %}
