{% extends "layout.html" %}
{% load static %}   
{% block body %}

   <section class="probootstrap-section probootstrap-section-colored"  style="background-image: url({% static 'img/slider_2.jpg' %}) !important">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-left section-heading probootstrap-animate" style="margin-bottom:40px;"   >
              <h2>Contact Us</h2>
            </div>
          </div>
        </div>
      </section>

    <section class="probootstrap-section ">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="probootstrap-flex-block">
                <div class="probootstrap-text probootstrap-animate" style="width:100%;font-size:18px;">
                  {{ info.info|safe }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
{% if qc_count != 0 %}
    <section class="probootstrap-section probootstrap-section-colored"  style="background-image: url({% static 'img/slider_2.jpg' %}) !important">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-left section-heading probootstrap-animate" style="margin-bottom:40px;"   >
              <h2>Quick Contacts</h2>
            </div>
          </div>
        </div>
      </section>

      <section class="probootstrap-section" style="margin-top:-3em;padding-top:5px">
        <div class="container">
          <div class="row">
              {% for people in quickcontact %}
                <div class="col-md-3 col-sm-6">
                  <div class="probootstrap-teacher text-center probootstrap-animate">
                    <figure class="media">
                      <img src="{{ people.pic.url }}" alt="{{ people.alt_text }}" class="img-responsive">
                    </figure>
                    <div class="text">
                      <h3>{{ people.name }}</h3>
                      <p>{{ people.role }}</p>
                      <p>{{ people.phone }}</p>
                      <p>{{ people.email }}</p>
                    </div>
                  </div>
                </div>
                  <div class="clearfix visible-sm-block visible-xs-block"></div>
              {% endfor %}
        </div>
      </section>
{% endif %}
{% endblock %}