{% extends "layout.html" %}
{% load static %}   
{% block body %}

   <section class="probootstrap-section probootstrap-section-colored"  style="background-image: url({% static 'img/slider_2.jpg' %}) !important">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-left section-heading probootstrap-animate" style="margin-bottom:40px;"   >
              <h2>Reach NIT Calicut</h2>
            </div>
          </div>
        </div>
      </section>

    <section class="probootstrap-section ">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="probootstrap-flex-block">
                <div class="probootstrap-text probootstrap-animate" style="width:100%;font-size:18px;">
                  {{ reachus.content |safe }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

{% endblock %}