{% extends "layout.html" %}
{% load static %}   
{% block pact %} active {% endblock %}
{% block body %}

      
      <section class="probootstrap-section probootstrap-section-colored"  style="background-image: url({% static 'img/slider_2.jpg' %}) !important">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-left section-heading probootstrap-animate" style="margin-bottom:40px;"   >
              <h2>Faculty</h2>
            </div>
          </div>
        </div>
      </section>
      <section class="probootstrap-section" style="margin-top:-3em;padding-top:5px">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <div class="probootstrap-teacher text-center probootstrap-animate">
                <figure class="media">
                  <img src="{% static 'img/person_1.jpg' %}" alt="Free Bootstrap Template by uicookies.com" class="img-responsive">
                </figure>
                <div class="text">
                  <h3>Chris Worth</h3>
                  <p>Physical Education</p>
                  <p>+91 8754513131</p>
                  <p>chris@gmail.com</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="probootstrap-teacher text-center probootstrap-animate">
                <figure class="media">
                  <img src="{% static 'img/person_1.jpg' %}" alt="Free Bootstrap Template by uicookies.com" class="img-responsive">
                </figure>
                <div class="text">
                  <h3>Chris Worth</h3>
                  <p>Physical Education</p>
                  <p>+91 8754513131</p>
                  <p>chris@gmail.com</p>
                </div>
              </div>
            </div>
            <div class="clearfix visible-sm-block visible-xs-block"></div>
            <div class="col-md-3 col-sm-6">
              <div class="probootstrap-teacher text-center probootstrap-animate">
                <figure class="media">
                  <img src="{% static 'img/person_1.jpg' %}" alt="Free Bootstrap Template by uicookies.com" class="img-responsive">
                </figure>
                <div class="text">
                  <h3>Chris Worth</h3>
                  <p>Physical Education</p>
                  <p>+91 8754513131</p>
                  <p>chris@gmail.com</p>
                </div>
              </div>
            </div>
        </div>
      </section>

       <section class="probootstrap-section probootstrap-section-colored"  style="background-image: url({% static 'img/slider_2.jpg' %}) !important">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-left section-heading probootstrap-animate" style="margin-bottom:40px;"   >
              <h2>Core Committee Members</h2>
            </div>
          </div>
        </div>
      </section>
      <section class="probootstrap-section" style="margin-top:-3em;padding-top:5px">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <div class="probootstrap-teacher text-center probootstrap-animate">
                <figure class="media">
                  <img src="{% static 'img/person_1.jpg' %}" alt="Free Bootstrap Template by uicookies.com" class="img-responsive">
                </figure>
                <div class="text">
                  <h3>Chris Worth</h3>
                  <p>Physical Education</p>
                  <p>+91 8754513131</p>
                  <p>chris@gmail.com</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="probootstrap-teacher text-center probootstrap-animate">
                <figure class="media">
                  <img src="{% static 'img/person_1.jpg' %}" alt="Free Bootstrap Template by uicookies.com" class="img-responsive">
                </figure>
                <div class="text">
                  <h3>Chris Worth</h3>
                  <p>Physical Education</p>
                  <p>+91 8754513131</p>
                  <p>chris@gmail.com</p>
                </div>
              </div>
            </div>
            <div class="clearfix visible-sm-block visible-xs-block"></div>
            <div class="col-md-3 col-sm-6">
              <div class="probootstrap-teacher text-center probootstrap-animate">
                <figure class="media">
                  <img src="{% static 'img/person_1.jpg' %}" alt="Free Bootstrap Template by uicookies.com" class="img-responsive">
                </figure>
                <div class="text">
                  <h3>Chris Worth</h3>
                  <p>Physical Education</p>
                  <p>+91 8754513131</p>
                  <p>chris@gmail.com</p>
                </div>
              </div>
            </div>
        </div>
      </section>

       <section class="probootstrap-section probootstrap-section-colored"  style="background-image: url({% static 'img/slider_2.jpg' %}) !important">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-left section-heading probootstrap-animate" style="margin-bottom:40px;"   >
              <h2>Placement Reps</h2>
            </div>
          </div>
        </div>
      </section>
      <section class="probootstrap-section" style="margin-top:-3em;padding-top:5px">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <div class="probootstrap-teacher text-center probootstrap-animate">
                <figure class="media">
                  <img src="{% static 'img/person_1.jpg' %}" alt="Free Bootstrap Template by uicookies.com" class="img-responsive">
                </figure>
                <div class="text">
                  <h3>Chris Worth</h3>
                  <p>Physical Education</p>
                  <p>+91 8754513131</p>
                  <p>chris@gmail.com</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="probootstrap-teacher text-center probootstrap-animate">
                <figure class="media">
                  <img src="{% static 'img/person_1.jpg' %}" alt="Free Bootstrap Template by uicookies.com" class="img-responsive">
                </figure>
                <div class="text">
                  <h3>Chris Worth</h3>
                  <p>Physical Education</p>
                  <p>+91 8754513131</p>
                  <p>chris@gmail.com</p>
                </div>
              </div>
            </div>
            <div class="clearfix visible-sm-block visible-xs-block"></div>
            <div class="col-md-3 col-sm-6">
              <div class="probootstrap-teacher text-center probootstrap-animate">
                <figure class="media">
                  <img src="{% static 'img/person_1.jpg' %}" alt="Free Bootstrap Template by uicookies.com" class="img-responsive">
                </figure>
                <div class="text">
                  <h3>Chris Worth</h3>
                  <p>Physical Education</p>
                  <p>+91 8754513131</p>
                  <p>chris@gmail.com</p>
                </div>
              </div>
            </div>
        </div>
      </section>

{% endblock %}
