{% extends "layout.html" %}
{% load static %}   
{% block pact %} active {% endblock %}
{% block body %}

    {% if fac_count != 0  %}
         <section class="probootstrap-section probootstrap-section-colored"  style="background-image: url({% static 'img/slider_2.jpg' %}) !important">
            <div class="container">
              <div class="row">
                <div class="col-md-12 text-left section-heading probootstrap-animate" style="margin-bottom:40px;"   >
                  <h2>Faculty</h2>
                </div>
              </div>
            </div>
          </section>
          <section class="probootstrap-section" style="margin-top:-3em;padding-top:5px">
            <div class="container">
              <div class="row">
                  {% for fac in faculty %}
                    <div class="col-md-3 col-sm-6">
                      <div class="probootstrap-teacher text-center probootstrap-animate">
                        <figure class="media">
                          <img src="{{ fac.pic.url }}" alt="{{ fac.alt_text }}" class="img-responsive">
                        </figure>
                        <div class="text">
                          <h3>{{ fac.name }}</h3>
                          <p>{{ fac.role }}</p>
                          <p>{{ fac.phone }}</p>
                          <p>{{ fac.email }}</p>
                        </div>
                      </div>
                    </div>
                      <div class="clearfix visible-sm-block visible-xs-block"></div>
                  {% endfor %}
            </div>
          </section>
    {% endif %}

    {% if core_count != 0  %}
         <section class="probootstrap-section probootstrap-section-colored"  style="background-image: url({% static 'img/slider_2.jpg' %}) !important">
            <div class="container">
              <div class="row">
                <div class="col-md-12 text-left section-heading probootstrap-animate" style="margin-bottom:40px;"   >
                  <h2>Core Committee Members</h2>
                </div>
              </div>
            </div>
          </section>
          <section class="probootstrap-section" style="margin-top:-3em;padding-top:5px">
            <div class="container">
              <div class="row">
                  {% for fac in core %}
                    <div class="col-md-3 col-sm-6">
                      <div class="probootstrap-teacher text-center probootstrap-animate">
                        <figure class="media">
                          <img src="{{ fac.pic.url }}" alt="{{ fac.alt_text }}" class="img-responsive">
                        </figure>
                        <div class="text">
                          <h3>{{ fac.name }}</h3>
                          <p>{{ fac.role }}</p>
                          <p>{{ fac.phone }}</p>
                          <p>{{ fac.email }}</p>
                        </div>
                      </div>
                    </div>
                      <div class="clearfix visible-sm-block visible-xs-block"></div>
                  {% endfor %}
            </div>
          </section>
    {% endif %}

    {% if rep_count != 0  %}
        <section class="probootstrap-section probootstrap-section-colored"  style="background-image: url({% static 'img/slider_2.jpg' %}) !important">
            <div class="container">
              <div class="row">
                <div class="col-md-12 text-left section-heading probootstrap-animate" style="margin-bottom:40px;"   >
                  <h2>Student Representatives</h2>
                </div>
              </div>
            </div>
          </section>
          <section class="probootstrap-section" style="margin-top:-3em;padding-top:5px">
            <div class="container">
              <div class="row">
                  {% for fac in rep %}
                    <div class="col-md-3 col-sm-6">
                      <div class="probootstrap-teacher text-center probootstrap-animate">
                        <figure class="media">
                          <img src="{{ fac.pic.url }}" alt="{{ fac.alt_text }}" class="img-responsive">
                        </figure>
                        <div class="text">
                          <h3>{{ fac.name }}</h3>
                          <p>{{ fac.role }}</p>
                          <p>{{ fac.phone }}</p>
                          <p>{{ fac.email }}</p>
                        </div>
                      </div>
                    </div>
                      <div class="clearfix visible-sm-block visible-xs-block"></div>
                  {% endfor %}
            </div>
          </section>
    {% endif %}

    {%  if core_count == 0 and fac_count == 0 and rep_count == 0 %}
         <div id="notfound">
          <div class="notfound">
            <div class="notfound-404">
              <h1>4<span></span>4</h1>
            </div>
            <h2>Oops! Content Fetch Failed.</h2>
            <p>Sorry, the content was not populated properly. If this problem persists please mail the admin regarding the same.</p>
            <a href="/">Back to homepage</a>
          </div>
        </div>
    {%  endif %}



{% endblock %}
