{% extends "layout.html" %}
{% load static %}   
{% block ract %} active {% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- Resource style -->{% endblock %}
{% block body %}

      
      <section class="probootstrap-section probootstrap-section-colored"  style="background-image: url({% static 'img/slider_2.jpg' %}) !important">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-left section-heading probootstrap-animate">
              <h2>Procedure and Policies</h2>
            </div>
          </div>
        </div>
      </section>
    <section class="probootstrap-section">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="probootstrap-flex-block">
                <div class="probootstrap-text probootstrap-animate" style="width:100%;font-size:18px;">
                    {{ policy.content | safe }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

{% if filecount != 0 %}
    <section class="probootstrap-section" style="margin-top:100px;">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="probootstrap-flex-block">
                <div class="probootstrap-text probootstrap-animate" style="text-align:center;width:100%;font-size:18px;">
                    {%  for item in files %}
                        <a class="btn btn-primary" role="button" href="{{ item.document.url }}" target="_blank">{{ item.name }}</a>
                      {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    {%  endif %}

      <section class="cd-timeline js-cd-timeline">
		<div class="cd-timeline__container">
            {% for step in proceduresteps %}
                <div class="cd-timeline__block js-cd-block">
                    <div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
                    </div> <!-- cd-timeline__img -->

                    <div class="cd-timeline__content js-cd-content">
                        <h2>Step {{ step.number }}</h2>
                        {{ step.content | safe }}
                    </div> <!-- cd-timeline__content -->
                </div> <!-- cd-timeline__block -->
            {% endfor %}

	</section> <!-- cd-timeline -->

{% endblock %}
{% block javascript %}
<script src="{% static 'js/main_vert.js' %}"></script>
{% endblock %}
