{% extends "layout.html" %}
{% block hact %} active {%endblock%}
{% block body %}
{% load static %}
        <div id="notfound">
          <div class="notfound">
            <div class="notfound-404">
              <h1>4<span></span>4</h1>
            </div>
            <h2>Oops! Content Fetch Failed.</h2>
            <p>Sorry, the content was not populated properly. If this problem persists please mail the admin regarding the same.</p>
            <a href="/">Back to homepage</a>
          </div>
        </div>
{% endblock %}