<!DOCTYPE html>
<html lang="en">
  <head>
      {% load static %}
  {% block header %}{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'img/logo_min.jpg' %}" />
    <title>{% block title %}Training and Placement NITC{% endblock %}</title> 
    <meta name="description" content="Training and Placement Cell, NIT Calicut">
    <meta name="keywords" content="NIT Calicut">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles-merged.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    {% block css %}{% endblock %}
    <!--[if lt IE 9]>
      <script src="js/vendor/html5shiv.min.js"></script>
      <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    
    <div class="probootstrap-page-wrapper">
      <!-- Fixed navbar -->
      <nav class="navbar navbar-default probootstrap-navbar">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" title="NITC">NIT Calicut</a>
          </div>

          <div id="navbar-collapse" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="{% block hact %} {% endblock %}"><a href="/">Home</a></li>
              <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">About NITC</a>
                <ul class="dropdown-menu">
                  <li><a href="aboutus">About Us</a></li>
                  <li><a href="academics">Academics</a></li>
                  <li><a href="achievements">Achievements</a></li>
                  <li><a href="gallery">Gallery</a></li>
                   <li><a href="news">News</a></li>
                </ul>
              </li>
              <li class="{% block sact %} {% endblock %}"><a href="students">Students</a></li>
              <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Recruiters</a>
                <ul class="dropdown-menu">
                  <li><a href="whyus">Why Us?</a></li>
                  <li ><a href="recruiters">Past Recruiters</a></li>
                  <li><a href="pastplacements">Statistics</a></li>
                  <li><a href="pandp">Procedure and Policies</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Contact Us</a>
                <ul class="dropdown-menu">
                  <li><a href="contactus">Contact Us</a></li>
                  <li><a href="reach">How to Reach</a></li>
                  <li><a href="people">People</a></li>
                </ul>
              </li>
              
              
            </ul>
          </div>
        </div>
      </nav>

      {% block body %}
      {% endblock %}
      
      <footer class="probootstrap-footer probootstrap-bg">
          <div class="container">
            <div class="row">
              <div class="col-md-3 col-md-offset-1">
                <div class="probootstrap-footer-widget">
                  <h3>Quick Links</h3>
                  <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">NITC</a></li>
                    <li><a href="#">X</a></li>
                    <li><a href="#">Y</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-3 ">
                <div class="probootstrap-footer-widget">
                  <h3>Contact Info</h3>
                  <ul class="probootstrap-contact-info">
                    <li><i class="icon-location2"></i> <span>198 West 21th Street, Suite 721 New York NY 10016</span></li>
                    <li><i class="icon-mail"></i><span>info@domain.com</span></li>
                    <li><i class="icon-phone2"></i><span>+123 456 7890</span></li>
                  </ul>
                </div>
              </div>
                <div class="col-md-3 col-md-offset-1">
                  <div class="probootstrap-footer-widget">
                    <iframe width="320" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=NIT+Calicut&amp;ie=UTF8&amp;&amp;output=embed"></iframe><br />
                  </div>
              </div>
            </div>
            <!-- END row -->
            </div>
          </div>
        </footer>

    </div>
    <!-- END wrapper -->
    
    <script src="{% static 'js/scripts.min.js' %}"></script>
    <script src="{% static 'js/main.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    {% block javascript %}{% endblock %}

  </body>
</html>