{% extends "layout.html" %}
{% load static %}   
{% block css%}<style type=text/css>ul{display:inline-block;} </style>{% endblock %}
{% block body %}

      
      <section class="probootstrap-section probootstrap-section-colored"  style="background-image: url({% static 'img/slider_2.jpg' %}) !important">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-left section-heading probootstrap-animate">
              <h2>Past Placements</h2>
            </div>
          </div>
        </div>
      </section>
        
        <section class="probootstrap-section">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="probootstrap-flex-block">
                <div class="probootstrap-text probootstrap-animate" style="width:100%;font-size:18px;">
                  <h3>Companies Previously Visited</h3>
                  <ul>
                    <li>Microsoft</li>
                    <li>GS</li>
                    <li>Nutanix</li>
                  </ul>
                  <ul>
                    <li>Microsoft</li>
                    <li>GS</li>
                    <li>Nutanix</li>
                  </ul>
                  <ul>
                    <li>Microsoft</li>
                    <li>GS</li>
                    <li>Nutanix</li>
                  </ul>
                  <ul>
                    <li>Microsoft</li>
                    <li>GS</li>
                    <li>Nutanix</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
        
        <section class="probootstrap-section" style="margin-top:100px;">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="probootstrap-flex-block">
                <div class="probootstrap-text probootstrap-animate" style="width:100%;font-size:18px;">
                    <canvas id="line-chart"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
       <section class="probootstrap-section" style="margin-top:100px;">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="probootstrap-flex-block">
                <div class="probootstrap-text probootstrap-animate" style="text-align:center;width:100%;font-size:18px;">
                    <a class="btn btn-primary"> Download Detailed Info</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

{% endblock %}
{% block javascript %}
<script src="{% static 'js/Chart.js' %}"></script>
<script>
var ctx = $("#line-chart");
var lineChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: ["2010", "2011", "2012", "2013", "2014", "2015", "2016", "2017", "2018"],
    datasets: [
      {
        label: "Avg Package",
        data: [4,5,6.6,7,8,8.5,10,10,12]
      }
    ]
  }
});
</script>
{% endblock %}