{% extends "layout.html" %}
{% load static %}   
{% block css%}{% endblock %}
{% block body %}

      
      <section class="probootstrap-section probootstrap-section-colored"  style="background-image: url({% static 'img/slider_2.jpg' %}) !important">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-left section-heading probootstrap-animate">
              <h2>Past Recruiters</h2>
            </div>
          </div>
        </div>
      </section>
        
    <section class="probootstrap-section">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="probootstrap-flex-block">
                <div class="probootstrap-text probootstrap-animate " style="width:100%;font-size:18px;">
                  <div class="columns">
                    <ul>
                    <li>Microsoft</li>
                    <li>GS</li>
                    <li>Nutanix</li>         
                   <li>Microsoft</li>
                    <li>GS</li>
                    <li>Nutanix</li>
                    <li>Microsoft</li>
                    <li>GS</li>
                    <li>Nutanix</li>
                    </ul>         
                </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

{% endblock %}